/* DOCUMENT-LEVEL STYLING */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

article, .latest-posts, .popular-posts, .insta-posts {
  border: 1px solid #eaeaea;
}

/* 
Lato regular text?  font-family: 'Lato', sans-serif; body
Oswald for headlines?  font-family: 'Oswald', sans-serif; headers
playfair for ?  Bylines, maybe  font-family: 'Playfair Display', serif;
    some headings.  Look for serifs.
    font-family: 'Roboto', serif;
    0.707/175%

*/
/* NAVIGATION BAR */
.nav-bar {
  width: 100%;
  padding: 0 10% 0.5rem 10%;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  margin-top: 0.9rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #eaeaea;
}

.nav-button {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 2px 16px 0px 0px;
}

.nav-bar .social-media-button {
  font-size: 0.5rem;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 4px 0.375rem 4px 0.375rem;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
}

/* CONTENT WRAPPER DIV */
.main-wrapper {
  margin: 0 10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  height: 700vh;
}

/* MAIN COLUMN DIV */
.main-content {
  width: 65%;
}

article {
  background-color: white;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#article-image-1 {
  height: 334px;
  margin-bottom: 1.1rem;
}

article .category {
  color: #d27256;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5px 0px 0.25rem 0px;
  padding-top: 0.5rem;
}

article h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 5px 0px;
}

article .text {
  font-size: 0.75rem;
  padding: 0 1.5rem 1.1rem 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.button-read-more {
  color: #d27256;
  border: 1px solid #d27256;
  background-color: white;
  font-weight: bold;
  align-self: center;
  font-size: 0.6rem;
  padding: 10px 15px;
}

.tag-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.tagline {
  display: flex;
  justify-content: space-between;
  border-top: 1px #eaeaea solid;
  padding-top: 0.5rem;
  opacity: 0.5;
  align-items: baseline;
  width: 90%;
}

.tagline p {
  font-size: 0.75rem;
  font-style: italic;
  padding: 0rem, 0rem, rem, 1.5rem;
  border-top: none;
}

.tagline-social-media {
  width: 20%;
}

.tagline .social-media-button {
  font-size: 0.75rem;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
  text-align: right;
}

#article-image-2 {
  height: 334px;
  margin-bottom: 1.1rem;
}

#article-image-3 {
  height: 334px;
  margin-bottom: 1.1rem;
}

#article-image-4 {
  height: 334px;
  margin-bottom: 1.1rem;
}

#article-image-5 {
  height: 334px;
  margin-bottom: 1.1rem;
}

/* SIDE COLUMN DIV */
.sidebar-content {
  width: 31%;
}

/* AUTHOR BIO AREA */
.bio {
  position: relative;
  margin-bottom: 2rem;
  background-color: white;
}

.bio-backdrop {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 130px;
}

.bio-photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: white 5px solid;
  position: absolute;
  right: 25%;
  bottom: 40%;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.bio h3 {
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 0.75rem;
}

.bio-text {
  padding: 2rem;
  font-size: 10px;
  line-height: 1.7;
}

.bio-social-media {
  display: flex;
  justify-content: center;
}

.bio .social-media-button {
  font-size: 0.75rem;
  border: 1pt solid #eaeaea;
  border-radius: 50%;
  background-color: transparent;
  margin: 0px 3px 0px 3px;
  padding: 4px;
}

/* POPULAR POSTS */
.popular-posts {
  background-color: white;
  margin-bottom: 2rem;
}

.popular-posts > h2 {
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.popular {
  width: 100%;
  padding: 0px 6% 0px 6%;
}

.popular > img {
  height: 145px;
}

.popular h3 {
  font-family: "Oswald", sans-serif;
  font-size: 0.6rem;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.popular .byline {
  font-size: 0.6rem;
  font-style: italic;
  padding: 0;
  border-top: none;
  margin-top: 0;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0.5rem;
}

.popular .byline:last-child {
  border-bottom: none;
}

/* LATEST POSTS */
.latest-posts {
  background-color: white;
  padding: 0 10%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.latest-posts h2 {
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.latest {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.latest:last-child {
  border-bottom: none;
}

.latest img {
  width: 38%;
  height: 55px;
  margin-right: 0.3rem;
}

.text-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
  padding-bottom: 1.2rem;
}

.latest h3 {
  font-family: "Oswald", sans-serif;
  font-size: 8px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.latest p {
  font-size: 0.5rem;
  font-style: italic;
  padding: 0;
  border-top: none;
}

/* INSTAGRAM FEED */
.insta-posts {
  background-color: white;
}

.insta-posts > h3 {
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.3rem;
  margin-bottom: 1rem;
}

.insta-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.insta-photos img {
  width: 40%;
  height: 108px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.insta-photos img:last-child {
  margin-bottom: 1.5rem;
}

/* FOOTER BAR */
.imagebar {
  display: flex;
  overflow: hidden;
}

.imagebar img {
  width: 12.5%;
  height: 140px;
  margin: 0;
}

.black-bar {
  background-color: black;
  display: inline-flex;
  position: relative;
  width: 100%;
}

.black-bar > button {
  background-color: #d27256;
  color: white;
  position: absolute;
  top: 0;
  right: 2vw;
  z-index: 5;
}

.black-bar p {
  padding: 1rem 0 1rem 0;
  margin: 0 auto;
  text-align: center;
  color: #f4f4f4;
  background-color: black;
  font-size: 0.6rem;
}

/* RANDOM STYLING */
button:hover {
  transform: scale(1.25);
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    height: 1080vh;
  }

  .main-content {
    width: 100%;
  }

  .tagline-social-media {
    width: 40%;
  }

  .sidebar-content {
    width: 100%;
  }

  .bio-photo {
    right: 33%;
  }

  .imagebar {
    display: flex;
    overflow: hidden;
  }

  .imagebar img {
    width: 28%;
    height: 140px;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
